.Footer-Container-Light {
  background-color: #fdfdfd;
  color: #222;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 20rem;
  line-height: 2;
  border-top-style: solid;
  border-color: #1976d2;
}

.Footer-Container-Dark {
  background-color: #1c1f24;
  color: #fff;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 20rem;
  line-height: 2;
  border-top-style: solid;
  border-color: #1976d2;
}

.Footer-Insider {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.Footer-Insider-C1 {
  display: flex;
  padding-bottom: 5rem;
  justify-content: space-between;
}

.Footer-Insider-Info {
  display: flex;
}

.Footer-Insider-Column {
  flex-grow: 1;
}

.Column-Paragraph {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.Column-Paragraph::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #66a2fe;
  border: 1px solid #66a2fe;
  border-radius: 10rem;
  display: block;
  padding-left: 40px;
}

.Footer-links-light {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

.Footer-links-dark {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

.Footer-links-light:hover,
.Footer-links-dark:hover {
  text-decoration: underline;
}

@media (max-width:1024px){
    .Footer-Insider-Info{
        flex-direction: column;
    }
    .Footer-Insider-C1{
        flex-direction: column;
    }
    .Footer-Insider{
        margin: 0 auto;
    }
    .Footer-Insider-Column{
        padding: 10px;
    }
    .Footer-Container-Light,.Footer-Container-Dark{
        padding-bottom: 45rem;
    }
}

@media (max-width:700px){
    .Footer-Insider-Info{
        flex-direction: column;
    }
    .Footer-Insider-C1{
        flex-direction: column;
    }
    .Footer-Insider{
        margin: 0 auto;
    }
    .Footer-Insider-Column{
        padding: 10px;
    }
    .Footer-Container-Light,.Footer-Container-Dark{
        padding-bottom: 45rem;
    }
}