@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1vh;
  height: 7vh;
  background-color: #ffffff;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.nav-links{
  display :flex;
  width: 40%;
  justify-content: space-around;
}

.nav-items{
  text-decoration: none;
  font-size: large;
  color:gray;
  transition: 0.2s ease;
}

.nav-items:hover{
  color: aqua;
}

.logo{
  width: 60px;
  letter-spacing: 10px;
  font-size: 1.2rem;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
