html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1vh;
  height: 10vh;
  background-color: #333333;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.nav-links{
  display :flex;
  width: 40%;
  justify-content: space-around;
}

.logo{
  width: 60px;
  letter-spacing: 10px;
  font-size: 1.2rem;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
