@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1vh;
  height: 7vh;
  background-color: #333333;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.nav-links{
  display :flex;
  width: 20%;
  justify-content: space-around;
}

.nav-items{
  text-decoration: none;
  font-size: medium;
  color:gray;
  transition: 0.2s ease;
}

.nav-items:hover{
  color: #4C9AC0;
}

.logo{
  width: 60px;
  font-size: 1.2rem;
  animation: logoanimation 10s linear infinite;
}
.title{
  position: relative;
  top:15px;
  font-weight: 900;
  font-size: 1.3rem;
  color: #1476a2;
  animation: logotextanimation 2s alternate infinite ;
  
}
.logocontainer{
  display: flex;
}

.undernav{
  background-color: #4C9AC0;
    transition: background-color 0.1s ease;
    top:42px;
    box-sizing: border-box;
    position: relative;
    color: #ffffff;
    height: 5vh;
}

.undernav h2{
  padding-top: 5px;
  text-align: center;
  text-shadow: 3px 3px #1476a2;
}

@keyframes logotextanimation{
  from{
    color:#1476a2;
  }
  to{
    color:#5CBAE8;
  }
}

@keyframes logoanimation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
